* {
    box-sizing: border-box;
  }
.navbar video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.navbar{
    width:90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10%;
}
.logo{
    width: 30%;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff0000;
    left: 15px;
    bottom: -10px;
}
.navbar ul li:hover::after{
    width: 40%;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    padding: 15px;
}
.box-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 32%;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    animation: ease-in-out;
    animation-name: movement;

}

.box .box-img{
    width:35%;
    border-radius: 60px;
}

.box-img img{
    width: 130px;
    height: 130px;
    border-radius: 60px;
}

.box .text{
    text-align: left;
    width: 60%;
}

.text h3{
    text-transform: capitalize;
    color: black;
}

.text hr{
    background: #ff0000;
    width: 30px;
    height: 3px;
    margin: 5px 0px 10px 0px;
}
.text section{
    font-weight: 600;
    margin-bottom: -5px;
    color: #ff0000;
}
.fa-house{
    color: purple;
}
.fa-bars{
    color: #ff0000;
}
.fa-file-pdf{
    color: purple;
}
.fa-snowflake{
    color: #ff0000;
}
.fa-phone{
    color: purple;
}
@media (max-width:500px){
    .box-flex{
        display: flex;
        flex-direction: column;
    }
}        
